# ASSIGNMENT-1

## Q-1

In [1]:
def swap(a,b):
    a,b = b,a
    return a,b

In [2]:
swap(8,0)

(0, 8)

## Q-2

In [6]:
def oddeven(n):
    if n%2==0:
        print("even")
    else:
        print("odd")

In [7]:
oddeven(6)

even

## Q3

In [9]:
import math

def sqr(n):
    print(math.sqrt(n))

sqr(9)

3.0

## Q4

In [21]:
def natural(n):
    for i in range(n):
        print(i+1)
    print(" ")    
    for i in range(n,0,-1):
        print(i)

In [22]:
natural(5)

1
2
3
4
5

5
4
3
2
1

## Q5

In [31]:
def volume(r):
    return 4*3.14*r**3

In [33]:
volume(1)

12.56

## Q6

In [25]:
def oddeven(n):
    print("EVEN NO.s")
    for i in range(0,n,+2):
        print(i)
    print("ODD NO.s")    
    for i in range(0,n,+2):
        print(i+1)

In [26]:
oddeven(100)

EVEN NO.s
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
ODD NO.s
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## Q7

In [55]:
import math
def roots(a,b,c):
    print((-b + (b**2 - 4*a*c)**0.5)/2*a)
    print((-b - (b**2 - 4*a*c)**0.5)/2*a)

In [56]:
roots(1,2,3)

(-0.9999999999999999+1.4142135623730951j)
(-1-1.4142135623730951j)

## Q8

In [21]:
n = int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

Enter number:447738
The number of digits in the number are: 6

## Q9

In [17]:
def prime(n):
    if n == 1:
        print("The no. is 1 ")
    for i in range(2,n):
        if (n%i) == 0:
            print("Not a Prime no.")
            break
        else:
            print("Prime no.")
            break

In [18]:
prime(13)

Prime no.

## Q 10

In [24]:
n = int(input("Enter the no."))

for i in range(1,n):
    if i%3 == 0 or i%5 == 0:
        print(i)

Enter the no.17
3
5
6
9
10
12
15

## Q 11

In [29]:
n = int(input("Enter the no"))

option = int(input("Enter one for sum and Enter two for product"))

if option == 1:
    sum = 0
    for i in range(n+1):
        sum = sum+ i
    print("The sum is: {}" .format(sum))
 
elif option == 2:
    pro = 1
    for i in range(1,n+1):
        pro =pro*i
    print("The product is: {}" .format(pro))
    
else:
    print("Wrong input")

Enter the no4
Enter one for sum and Enter two for product2
The product is: 24

## Q 12

In [34]:
n = 1000
sum = 0
for i in range(1,n):
    if i%3 == 0 or i%5 == 0:
        sum = sum + i
print("The sum is ", sum )

The sum is  233168

## Q13

In [45]:

def Function():
    for i in range(2000,3200):
        if i%7 == 0 and i%5 != 0:
            print(i)
        
Function()

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

## Q 14

In [65]:
def q14():
    sum = 0
    sum1 = 0
    for i in range(1,101):
        a = i**2
        sum = sum + a
        sum1 = sum1+ i
    b= sum**2
    ans = sum1 - b
    print("The sum of squares is: " ,sum)
    print("The square of the sum is: ", b)
    print("The difference is:" ,ans)
    
q14()

The sum of squares is:  338350
The square of the sum is:  114480722500
The difference is: -114480717450

## Q 15

In [ ]:
count = 0
sum1 = 0
a =input("Enter the no.")

while a!= 'stop':
    print(n)
    count = count + 1
    sum1 = sum1 + n
    avg = sum1 / count
print("The sum is: ",sum1)
print("The total no. of inputs were: ", count)
print("The average is: " , avg)

## Q 16

In [5]:
n= int(input("Enter the no. till where you want to print"))

for i in range(n):
    no = 0
    for j in range(2, i//2):
        if i%j == 0:
            no = 1
            break
    if no == 0:
        print(i)

Enter the no. till where you want to print14
0
1
2
3
4
5
7
11
13

## Q 17

In [9]:
n = int(input("Enter the no. :"))
fac = 1

for i in range(1,n+1):
     fac = fac*i

print(fac)

Enter the no. :3
6

##  Q 18

In [ ]:
a = int(input("Enter the no. for where you want to print: "))

n = 1
p = 0

for _ in range(a):
    p , n = n , n+p
    print(n)

## Q19

In [4]:
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
if(a<b):
    n=b
else:
    n=a
while(1):
    if  n%a == 0 and n%b == 0:
        print("LCM is:",n)
        break
    n = n+1

Enter the first number:3
Enter the second number:4
LCM is: 12

## Q 20

In [3]:
n = int(input("Please enter the a number"))    
    
for i in range(1,n+1):
    if n%i == 0:
        print(i)

Please enter the a number18
1
2
3
6
9
18

## Q 21

### 1)

In [1]:
for i in range(6):
    for j in range(0,i):
        print("*", end = " ")
    print(" ")

*
* *
* * *
* * * *
* * * * *

### 2)

In [20]:
n=4
for i in range(n):
    print(" "*(n-i-1)+ "* "*(i+1) )

   *
  * *
 * * *
* * * *

### 3)

In [2]:
for i in range(6):
    for j in range(0,i):
        print(i, end = " ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### 4)

In [7]:
n=8
for i in range(n):
    print("* "*(n-i-1)+ "  "*(i+1) )

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### 5)

In [28]:
n = 1
for i in range(5):
    for j in range(i):
        print(n, end =" ")  
        n= n+1
    print()

1
2 3
4 5 6
7 8 9 10

### 6)

In [35]:
a = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P' ]
n = 0
for i in range(5):
    for j in range(i+1):
        print(a[n], end = " ")
        n = n+1
    print()

A
B C
D E F
G H I J
K L M N O

## Q 22

In [ ]:
n = int(input("Enter the no."))

a1 = n
a2 = n*10 + n
a3 = n*100 + n*10 + n
a4 = n*1000 + n*100 + n*10 + n

a = a1 + a2 + a3 + a4

print("{} + {} + {} + {} = {}" .format(a1,a2,a3,a4,a))